
<h1 color='white' align='center' >MINISTRY OF WOMEN & CHILD DEVELOPMENT</h1>
<br>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="aboutus" class="btn btn-primary:hover form-check-label">ABOUT US</a></li>
      <li><a routerLink="legislation" class="btn btn-md btn-white">LEGISLATIONS & POLICY</a></li>
      <li><a routerLink="stepdashboard" class="btn btn-md btn-white">STEP</a></li>
    <li><a routerLink="ngodashboard" class="btn btn-md btn-white" >NGOS</a></li> 
      <li><a routerLink="admin" class="btn btn-md btn-white">ADMIN</a></li>
      <li><a routerLink="faq">FAQ</a></li>
    </ul>
  </div>
  </nav>
  
  <router-outlet></router-outlet>