.ngo-step{
    /* width: 100%;background: url('../../assets/images/background-legislation.jpg')no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
}

p, li {
    text-align: justify;
    line-height: 1.6em;
    color: 	rgb(105,105,105);
}

.card-header h4{
    color: rgb(255,105,180);
}